/* color theme vars */
:root {
    --tagColor: #2f97c1;
    --songColor: #eb5e28;
    --darkThemeBg: #252422;
    --darkGrey: #403d39;
    --lightGrey: #ccc5b9;
    --white: #fffcf2;
}

.theme-dark {
    --bg-color: var(--darkThemeBg);
    --text-color: var(--white);
}
.theme-light {
    --bg-color: var(--white);
    --text-color: var(--darkThemeBg);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.3em;
}
.font-mono {
    font-family: 'Roboto Mono', monospace;
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.opacity-25 {
    opacity: 0.25;
}

/** Responsive **/
main {
    max-width: 1024px;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .sm-hidden {
        display: none;
    }
}

/** default styles */
a {
    text-decoration: underline;
    color: var(--tagColor);
}
button {
    padding: .5em 1em;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
    background: var(--darkGrey);
    color: var(--white);
}
button:hover {
    background: var(--tagColor);
    color: var(--white);
    transition: all .2s ease-in-out;
}
