/* color theme vars */
:root {
    --songColor: #2f97c1;
    --tagColor: #eb5e28;
    --darkThemeBg: #252422;
    --darkGrey: #403d39;
    --lightGrey: #ccc5b9;
    --white: #fffcf2;
}

.theme-dark {
    --bg-color: var(--darkThemeBg);
    --text-color: var(--white);
}
.theme-light {
    --bg-color: var(--white);
    --text-color: var(--darkThemeBg);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1.3em;
    margin: 0;
}
.font-mono {
    font-family: 'Roboto Mono', monospace;
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.opacity-25 {
    opacity: 0.25;
}

/** Responsive **/
main {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1em 1.7em;
}
@media screen and (max-width: 768px) {
    .sm-hidden {
        display: none;
    }
}

/** Default styles **/

/* links and buttons */
a {
    text-decoration: underline;
    color: var(--songColor);
}
button {
    padding: .5em 1em;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
    background: var(--darkGrey);
    color: var(--white);
    transition: all .2s ease-in-out;
    width: 100%;
}
button:hover {
    background: var(--songColor);
    color: var(--white);
    transition: all .2s ease-in-out;
}
h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin: .5em 0;
    font-size: 1.8em;
}
h3 {
    color: var(--songColor);
    font-weight: lighter;
    font-size: 1em;
    margin: .5em 0;
}

/* Forms */
.field {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}
label {
    color: var(--songColor);
}
input {
    padding: .5em;
    font-size: .8em;
    margin: .5em 0;
    border: 2px solid var(--songColor);
    border-radius: 3px;
    box-sizing: border-box;
    max-width: 100%;
}

.ql-container {
    font-family: 'Roboto Mono', monospace !important;
    font-size: 1em!important;
}
.ql-editor {
    font-size: .8em;
    border: 1px solid var(--songColor);
    padding: 0 .5em;
    background-color: white;
    color: var(--darkThemeBg);
}
.ql-disabled .ql-editor {
    border: 0;
    padding: 0;
    background-color: inherit;
    color: inherit;
}
.ql-toolbar {
    white-space: normal;
}
